.app {
  width: 250px;
}

.tabs {
  table {
    width: 250px;
  }

  tr, td {
    border-bottom: 1px solid #b9acac;
  }

  img {
    max-width: 25px;
    max-height: 25px;
  }

  .linkColumn {
    max-width: 170px;
  }

  .search-input {
    width: 88%;
    margin-right: 2%;
  }
}


.blacklist {
  .loader {
    max-width: 15px;
  }
}
