html {
  height: 0px;
}

.app {
  max-width: 300px;
}


.tabs {
  table {
    width: 250px;
  }

  tr, td {
    border-bottom: 1px solid #b9acac;
  }

  a {
    word-break: break-all;
  }

  .imageColumn {
    width: 25px;
    height: 25px;

    img {
      width: 25px;
      height: 25px;
    }
  }

  .linkColumn {
    width: 150px;
    height: 10px;
  }

  .buttonsColumn {
    width: 25px;
    height: 10px;
  }

  .search-input {
    width: 78%;
    margin-right: 2%;
  }
}


.blacklist {
  .loader {
    max-width: 15px;
  }
}

.loading {
  pointer-events: none;
}

body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}